body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

header {
  color: #d51f23;
  font-family: 'Damion', cursive;
}

header h1 {
  font-size: 4em;
  margin: -0.1em 0 0 -1.1em;
}

header h1 span.green {
  color: #009846;
  display: inline-block;
  font-size: 0.6em;
  margin-right: -0.5em;
  vertical-align: top;
}

header img {
  height: 150px;
  width: auto;
}

section {
  border-top: 1px solid #d51f23;
  box-sizing: border-box;
  margin: 2em auto 0;
  max-width: 800px;
  padding: 1em 10%;
}

section.hide {
  display: none;
}

section#timer-panel p.task {
  font-size: 1.5em;
  font-weight: 300;
}

section#timer-panel p.timer {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.5em 0;
}

#controls {
  display: none;
}

#controls.show {
  display: block;
}

form {
  margin-top: 1em;
}

form input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto 2em;
  outline: none;
  padding: 0.2em 1em;
  text-align: center;
  width: 100%;
}

p.duration-label span {
  color: #d51f23;
  font-size: 1.2em;
  font-weight: 700;
}

button, form input[type="submit"] {
  background-color: #d51f23;
  border: 0;
  border-radius: 2em 2em 4em / 0.9em 3em;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  outline: none;
  padding: 0.4em 1em;
}

section#previous-tasks-panel h2 {
  font-weight: 400;
  margin-top: 0;
}

section#previous-tasks-panel ol {
  list-style-type: none;
  text-align: left;
}

section#previous-tasks-panel ol li {
  margin-bottom: 20px;
}

section#previous-tasks-panel ol li span.number {
  color: #dadada;
  font: bold italic 35px/1 Helvetica, Verdana, sans-serif;
  margin-right: 1em;
}

section#previous-tasks-panel ol li span.delete {
  color: #d51f23;
  cursor: pointer;
  margin-left: 1em;
}

section#previous-tasks-panel ol li span.delete:hover {
  border-bottom: 1px solid #d51f23;
}

/* Input range style */
input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 2em;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #dadada;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #d51f23;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dadada;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #dadada;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #d51f23;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #dadada;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #dadada;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #d51f23;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dadada;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dadada;
}
